@model WebApplication2.Models.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>
<img src="~/Images/Thumbnails/2008/4/dog.jpg" class="rounded-circle" width="120" height="100" alt="a dog" />
<script>
    @foreach(string path in Model.GetThumbnailImages())
    {
        <img src="@Url.Content(path)" class="rounded-circle" width="120" height="100" alt="ThuumbnailImage">

    }

</script>