<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Barak\Desktop\from;C:\Users\Barak\Desktop\temp;C:\Users\Barak\Desktop\temp2" />
    <add key="OutputDir" value="C:\Barak\biu\second year\semester d\Advanced Programing 2\Ex1\MyNewServiceSol\WebApplication2\Images" />
    <add key="SourceName" value="ImageServiceSource" />
    <add key="LogName" value="ImageServiceLog" />
    <add key="ThumbnailSize" value="120" />
  </appSettings>
</configuration>